{% extends 'layout.html.twig' %}

{% block content %}
    <div class="contenido">
        <div class="formulario p-5">
            <h1>Eliminar Elemento</h1>
            <p>¿Seguro que deseas eliminar el elemento "<b>{{ elemento.nombre }}</b>"?</p>
            <p class="font-weight-bolder">Esta acción no se puede deshacer.</p>

            <form method="post">
                <button class="btn btn-danger" type="submit" name="confirmar">Sí, eliminar</button>
                <a class="btn btn-info" href="{{ path('indexSec', {'sec': elemento.seccion.id}) }}">No, Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}