{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/tabla.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/burbujas.css') }}">
    <link rel="stylesheet" href="{{ asset('css/portada.css') }}">
{% endblock %}


{% block title %}Panel de administrador{% endblock %}

{% block content %}
    <div class="fondo_imagen">
        <div class="portada">
            <h3 class="portada_titulo texto_mas_grande texto_grueso">Panel de Administrador!</h3>
            <p class="portada_titulo texto_grande texto_grueso">Usted esta logueado como {{ app.user.username }}</p>
            <div class="portada_cuerpo">
                <div class="portada_fondo ">
                    <p class="texto_grueso texto_grande">Opciones:</p>
                </div>
                <hr>
                <div class="display_flex flex-column">
                    <div class="portada_descripcion botones mb-3">
                        <button class="btn btn-success">Promocionar a Admin</button>
                        <button class="btn btn-success">Modificar usuarios</button>
                        <button class="btn btn-success">Crear Usuario</button>
                    </div>
                    <div class="portada_descripcion botones mb-3">
                        <button class="btn btn-success">Imprimir PDF</button>
                        <button class="btn btn-success">Imprimir Imagen</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
