<ul type="none" class="displayFlex fondoSecciones overflow-auto">
    {% for sec in secciones %}
        <div class="burbuja burbuja_fondo">
            <li>
                <a class="relleno" href="{{ path('indexSec', {'sec': sec.id} ) }}">
                    <div>
                        {% if sec.icono %}
                            <i class="fas {{ sec.icono }}"></i>
                        {% else %}
                            <i class="fas fa-utensils"></i>
                        {% endif %}
                    </div>
                    <div>{{ sec.nombre }}</div>
                </a>
            </li>
        </div>
    {% endfor %}
    {# Restringir a usuarios con Rol de moderador #}
    <div class="burbuja burbuja_fondo_crear">
        <li>
            <a class="relleno" href="{{ path('seccion_nueva' ) }}">
                <div>
                    <i class="fas fa-plus"></i>
                </div>
                <div>Nueva Sección</div>
            </a>
        </li>
    </div>
</ul>

