<ul type="none" class="displayFlex fondoSecciones">
    {% for sec in seccion %}
        <div class="burbuja burbuja_fondo">
            <li>
                <a class="relleno" href="{{ path('indexSec', {'sec': sec.id} ) }}">
                    <div><i class="fas fa-utensils"></i></div>
                    <div>{{ sec.nombre }}</div>
                </a>
            </li>
        </div>
    {% endfor %}
</ul>

