/*Clases para el contenido de la web*/
body {
    font-family: 'Roboto', sans-serif;
}

.fondo_imagen {
    background-image: url(../img/bgimage.jpg);
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding-bottom: 1em;
}

.contenido {
    height: 100%;
    min-height: 100vh;
}


/* Clases para funcionalidad  */

.debug {
    border: 1px solid black;
}

.limpar_formato {
    color: white;
    list-style: none;
    font-style: normal;
}

.letra_dorada {
    color: #ab9659;
}

.cursor {
    cursor: pointer;
}

.display_flex {
    display: flex;
}

.texto_ligero {
    font-weight: lighter;
}

.texto_cursivo {
    font-style: italic;
}

.texto_grueso {
    font-weight: bold;
}

.texto_pequenio {
    font-size: 0.8em;
}

.texto_mas_pequenio {
    font-size: 0.5em;
}

.texto_normal {
    font-size: 1em;
}

.texto_grande {
    font-size: 1.7em;
}

.texto_opaco {
    color: rgba(0, 0, 0, 0.5);
}

.texto_mas_grande {
    font-size: 2em;
}

.margen_abajo {
    margin-bottom: 0.5em;
}

.margen_arriba {
    margin-top: 0.5em;
}

.underline {
    text-decoration: underline;
}