/*Clases para el contenido de la web*/
body {
    font-family: 'Roboto', sans-serif;
}

.fondo_imagen {
    background-image: url(../img/bgimage.jpg);
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding-bottom: 1em;
}

.contenido {
    height: 100%;
    min-height: 100vh;
}


/* Clases para funcionalidad  */

.debug {
    border: 1px solid black;
}

.cursor {
    cursor: pointer;
}

.display_flex {
    display: flex;
}

.texto_ligero {
    font-weight: lighter;
}

.texto_cursivo {
    font-style: italic;
}

.texto_grueso {
    font-weight: bold;
}

.texto_pequenio {
    font-size: 0.5em;
}

.texto_mas_pequenio {
    font-size: 0.3em;
}

.texto_grande {
    font-size: 1.3em;
}

.texto_mas_grande {
    font-size: 1.7em;
}