.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.fondoSecciones{
    background-color:rgba(100,100,100,0.3);
    padding: 1em;
    margin-bottom: -1em;
}
.burbuja {
    background-color: white;
    height: 10em;
    width: 10em;
    margin: 0.3em;
    border-radius: 100%;
    transition: transform .2s;
    text-align: center;
}
.burbuja li{
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burbuja:hover {
    transform: scale(1.1);
}
.relleno {
    padding-top: 25%;
    padding-bottom: 25%;
    justify-self: center;
    font-size: 1.8em;
}
.burbuja_fondo{background-color: rgba(171,150,89,1)}
.burbuja_fondo a {color: black}
