.secciones_overflow {
    overflow-x: auto;
    overflow-y: hidden;
}

.secciones_fondo {
    background-color: rgba(100, 100, 100, 0.3);
    margin-bottom: -1em;
    padding: 0.3em;
}

.burbuja {
    background-color: white;
    height: 6.5em;
    width: 6.5em;
    margin: 0.3em;
    border-radius: 100%;
    transition: transform .2s;
    text-align: center;
}
.burbuja li {
    width: 5.3em;
    height: 5.3em;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.burbuja:hover {
    transform: scale(1.1);
}

.buruja_relleno {
    padding-top: 25%;
    padding-bottom: 25%;
    justify-self: center;
}

.burbuja_fondo {
    background-color: rgba(171, 150, 89, 1)
}

.burbuja_fondo a {
    color: black
}

.burbuja_fondo_crear {
    background-color: rgba(150, 150, 150, 0.5)
}

.burbuja_fondo_crear a {
    color: black
}

.burbuja_texto {
    margin: 0 auto;
    width: 95%;

}

.burbuja_texto span {

}

.burbuja_icono {
    font-size: 1.3em;
}


