/* Clases para el header */

.header {
    width: 100%;
    justify-content: space-evenly;
}

.header_color {
    background-color: royalblue;
    color: white;
}

.header_image {
    width: 6rem;
    height: 6rem;
    margin: 0.5em;
    margin-left: 1em;
}

.header_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


