/* Clases para los formularios */

.formulario {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;

}

.formulario_titulo {
    padding-bottom: 1em;
}

#elemento_alergenos, .formulario_elementos {

    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 10em;
    border: 1px solid lightgray;
    padding: 0.3em;

}

.formulario_pdf {
    margin: 0 auto;
    align-content: space-evenly;
    width: 90%;
    height: 15em;
    border-radius: 7px;
    background-color: whitesmoke;
}

.formulario_elemento_unico {
    background-color: white;
    margin: 0 auto;
    width: 98%;
    overflow: auto;
    display: flex;
    border: 1px solid lightgray;
    padding: 0.3em;
    padding-left: 1.5em;
    border-radius: 7px;
}

.form-check {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.form-check-input {
    position: relative;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 0.3em;
    margin-right: 0.3em;
}

.form-check-label {
    align-self: baseline;
}

.formulario_lista_spans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formulario_lista_elemento {
    margin-bottom: 0.3em;
}

.formulario_lista_individual {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-bottom: 1.5em;
}

.formulario_lista_elemento::before {
    content: "- ";
}

.formulario_lista_elemento span:nth-child(2)::before {
    content: ".....";
}