.fondo_imagen {
        background-position: right;
}

.portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        text-align: center;
}

.portada_titulo {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: 0 auto;
        text-align: center;
}

.portada_cuerpo {
        align-self: center;
        width: 80%;
}

.portada_fondo {
        background-color: rgba(100, 100, 100, 0.2);
        border-radius: 7px;
        padding: 1em;
}

.portada_imagen {
        background-image: radial-gradient(circle, royalblue 60%, rgba(0, 0, 0, 0.07) 100%);
        border-radius: 100%;
        padding: 1em;
        margin-bottom: 1em;
}

.portada_descripcion h4, .portada_descripcion p {
        margin-bottom: 1em;
}
