a {
    text-decoration: none;
}

.imagenFondo{
    background-image: url(../img/bgimage.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: right;

}
.contenido{

    max-width: 100vw;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1em;
}
/* Clases para el header */
.headerImage {
    width: 150px;
}
.displayFlex {
    display: flex;
}
.colorCabecera {
    background-color: rgba(5,21,1,0.9);
    color: #ab9659;
}
.cabecera {
    padding: 1em;
    width: 100%;
    justify-content: space-around;
}
.TituloGrande{
    font-size: 5em;
    font-weight: lighter;
}
.TituloPequenio {
    font-style: italic;
}

.letraGrande {
    font-size: 3.5em;
}

.fondoOpaco {
    background-color: rgba(100,100,100,0.2);
    border-radius: 5px;
    margin: 1.5em;
}

.tablaOrden {
    text-align: left;
    padding: 1em;

}

.paddingTupla{
    padding-left: 1em;
}
.alergenos{
    pointer-events: none;
    position: absolute;
    max-width: 80vw;
    transform: translate(0, 1.6em);
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 7px;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}
.alergenos::before{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    left: calc(47%);
    top: -0.6em;
    border: 0.3em solid transparent;
    border-bottom-color: rgba(0,0,0,0.7);
}
.alergenos span{
    font-size: 2rem;
    color: black;
}
.imgAlergeno {
    display: flex;
    height: 3em;
    width: 3em;
    margin: 0em;
}
.toggler{
    -webkit-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}
.tuplaPrecio {
   vertical-align: bottom;
}
.cursor {
    cursor: pointer ;
}
.esconder {
    transform: scale(0.5);
    opacity: 0;
}

.escondido {
    display: none;
}


