.tabla {
    width: 100%;
}

.tabla_cabecera {
    padding: 1em;
}

.tabla_orden {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.tabla_fila {
    width: 95%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.tabla_fila td:first-child {
    margin-left: 0.3em;
}

.tabla_fila td {

    padding-top: 0.5em;
    padding-bottom: 0.7em;
}

.tabla_fila:last-child {
    border-bottom: 0px solid white;
}

.tupla_precio {
    text-align: center;
    vertical-align: bottom;
}


.tabla_fondo {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.57em;
    margin: 1.5em;
}

.tabla_nombre {
    border-top: 5px solid rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 0, 0, 0);
}

/* parte escondida de las tablas */

.spoiler {
    width: 95%;
}

.spoiler_descripcion {
    margin-bottom: 1em;
}

.spoiler_imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
}

.spoiler_figure {
    flex-direction: column;
    justify-content: center;
    padding: 0.3em;
}

.spoiler_figure img {
    display: flex;
    align-self: center;
    height: 1.5em;
    width: 1.5em;
}

.spoiler_figure figcaption {
    align-self: center;
}

/* botones para el final de la tabla  */

.botones {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.cerrado {
    transition: transform 400ms ease-in-out;
}

.abierto {
    transform: rotate(180deg);
    transition: transform 400ms ease-in-out;
}

