{% extends 'layout.html.twig' %}

{% block title %}Página principal!{% endblock %}

{% block content%}
    <p class="p-4 text-center fw-bolder"> <i class="fas fa-wrench "></i> Página en construccion...</p>
{% endblock %}
