<div class="portada">

    <h3 class="portada_titulo texto_mas_grande texto_grueso">Bienvenido a nuestro restaurante!</h3>
    <div class="portada_cuerpo">
        <div class="portada_fondo ">
            <img class="portada_imagen" src="{{ asset('img/logo.png') }}">
            <p class="texto_grueso texto_grande">Restaurante Club - 79 Linares</p>
        </div>
        <hr>
        <div class="portada_descripcion">
            <h4 class="texto_grande texto_grueso">Como funciona:</h4>
            <p>Presiona en una burbuja de las de arriba para ver los elementos disponibles en ella!</p>
            <p>Dentro de cada sección, hay elementos con "<i class="fas fa-caret-down"></i>" y elementos con "<i
                        class="fas fa-caret-right"></i>". Si el elemento tiene "<i class="fas fa-caret-down"></i>"
                puedes pinchar sobre él para desvelar descripción y/o alérgenos. </p>
        </div>
    </div>

</div>