<div class="tabla_fondo">
    <h2 class="text-center texto_mas_grande p-3">
        <i class="fas fa-user"></i>
        <div>
            <span class="texto_grande">Usuarios</span>
        </div>
    </h2>
</div>
<hr>
<div class="tabla_fondo">
    <table class="tabla table table-borderless text-center" style="table-layout: fixed">
        <thead class="tabla_cabecera">
        <tr>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th>{% if estado == 1 %}
                Promocionar
            {% else %}
                Modificar
            {% endif %}
            </th>
        </tr>
        </thead>
        <tbody class="">
        {% for i in usuarios %}
            <tr>
                <td> {{ i.username }}</td>
                <td class=""> {% if i.roles[0] =="ROLE_ADMINISTRADOR" %}
                        Administrador
                    {% else %}
                        Moderador
                    {% endif %}
                </td>
                <td>
                    {% if estado == 1 %}
                        <button class="btn btn-primary"><i class="fas fa-user-check"></i></button>
                    {% else %}
                        <button class="btn btn-primary"><i class="fas fa-user-cog"></i></button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

