<div class="tabla_fondo">
    <h2 class="text-center texto_mas_grande p-3">
        <i class="fas fa-user"></i>
        <div>
            <span class="texto_grande">Usuarios</span>
        </div>
    </h2>
</div>
<hr>
<div class="tabla_fondo">
    <table class="tabla table table-borderless text-center" style="table-layout: fixed">
        <thead class="tabla_cabecera">
        <tr>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th>{% if estado == 1 %}
                    Promocionar
                {% else %}
                    Modificar
                {% endif %}

            </th>
        </tr>
        </thead>
        <tbody class="">
        {% for i in usuarios %}
            <tr>
                <td> {{ i.username }}</td>
                <td class=""> {% if i.roles[0] =="ROLE_ADMINISTRADOR" %}
                        Administrador
                    {% else %}
                        Moderador
                    {% endif %}
                </td>
                <td>
                    {% if estado == 1 %}
                    {% if i.roles[0] =="ROLE_ADMINISTRADOR" %}
                        <button disabled class="btn btn-primary"><i class="fas fa-user-check"></i></button>
                    {% else %}
                        <a href="{{ path('app_user_promocionar', {'user': i.id}) }}" class="btn btn-primary"><i
                                    class="fas fa-user-check"></i></a>
                    {% endif %}
                    {% else %}
                    {% if i.roles[0] =="ROLE_ADMINISTRADOR" and i.username != app.user.username or i.username == "administrador" %}
                        <button disabled class="btn btn-primary"><i
                                    class="fas fa-user-cog"></i></button>
                    {% else %}
                        <a href='{{ path('app_username_change', {'user': i.id}) }}' class="btn btn-primary"><i class="fas fa-user-cog"></i></a>
                    {% endif %}

                    {% if i.username != "administrador" %}
                        <a href="" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

